<ion-header class="bg-red-700">
  <ion-toolbar color="danger">
    <div class="flex items-center justify-between px-4 py-2">
      <div class="flex items-center space-x-2">
        <ion-button
          fill="clear"
          (click)="toggleSidebar()"
          class="lg:hidden text-white"
        >
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
        <img src="assets/logo-no-text.png" alt="Logo" class="w-10 h-10" />
        <h1 class="text-white text-xl font-bold">Admin Dashboard</h1>
      </div>
      <ion-button fill="clear" (click)="logout()" class="text-white">
        Logout
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding hide-scrollbar">
  <div class="dashboard-container flex flex-col lg:flex-row h-full">
    <!-- Sidebar -->
    <div
      [ngClass]="{
          'active': !isSidebarVisible,   
          'block lg:w-64 lg:h-full lg:block': true, 
          'bg-gray-100': true,
          'border-r': true,
          'fixed': true
        }"
      class="sidebar"
    >
      <nav class="mt-4">
        <div
          *ngFor="let tab of tabs"
          (click)="selectTab(tab)"
          class="px-4 py-3 cursor-pointer transition-colors duration-200"
          [class.bg-red-700]="tab.active"
          [class.text-white]="tab.active"
          [class.hover:bg-red-600]="!tab.active"
        >
          <div class="flex items-center space-x-3">
            <ion-icon [name]="tab.icon" class="text-xl"></ion-icon>
            <span>{{ tab.label }}</span>
          </div>
        </div>
      </nav>
    </div>

    <div
      [ngClass]="{'ml-0': !isSidebarVisible, 'lg:ml-64': isSidebarVisible}"
      class="main-content flex-1 p-6 hide-scrollbar"
      style="min-height: 100vh;"
    >
      <!-- Dashboard Overview -->
      <div *ngIf="currentTab === 'Dashboard'" class="space-y-6 hide-scrollbar">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
          <!-- Total Users Card -->
          <div class="bg-white rounded-lg shadow p-6">
            <div class="flex items-center space-x-3">
              <ion-icon name="people" class="text-3xl text-red-700"></ion-icon>
              <div>
                <h3 class="text-gray-500">Total Users</h3>
                <p class="text-2xl font-bold">{{ totalUsers }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Charts Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- User Ratings Chart -->
          <div class="bg-white rounded-lg shadow p-6">
            <h3 class="text-lg font-semibold mb-4">User Ratings</h3>
            <canvas id="ratingsChart"></canvas>
          </div>

          <!-- Monthly User Registrations Chart -->
          <div class="bg-white rounded-lg shadow p-6">
            <h3 class="text-lg font-semibold mb-4">
              Monthly User Registrations
            </h3>
            <canvas id="monthlyRegistrationsChart"></canvas>
          </div>

          <!-- Event Analytics Chart -->
          <div class="bg-white rounded-lg shadow p-6">
            <h3 class="text-lg font-semibold mb-4">Event Analytics Chart</h3>
            <canvas id="eventChart"></canvas>
          </div>
          <div class="bg-white rounded-lg shadow p-6">
            <h3 class="text-lg font-semibold mb-4">Next Event Predictions</h3>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <!-- Predicted Registrations -->
              <div
                class="flex flex-col items-center justify-center bg-gray-100 rounded-lg p-6 shadow hover:shadow-lg transition duration-300"
              >
                <h4 class="text-gray-600 text-lg font-semibold mb-2">
                  Predicted Absentees
                </h4>
                <p
                  class="text-5xl font-bold text-red-700"
                  *ngIf="predictedRegistrations !== 0; else noData"
                >
                  {{ predictedRegistrations }}
                </p>
              </div>

              <!-- Predicted Attendees -->
              <div
                class="flex flex-col items-center justify-center bg-gray-100 rounded-lg p-6 shadow hover:shadow-lg transition duration-300"
              >
                <h4 class="text-gray-600 text-lg font-semibold mb-2">
                  Predicted Attendees
                </h4>
                <p
                  class="text-5xl font-bold text-red-700"
                  *ngIf="predictedAttendees !== 0; else noData"
                >
                  {{ predictedAttendees }}
                </p>
              </div>
            </div>

            <!-- Calculation Details -->
            <div class="mt-6">
              <h4 class="text-lg font-semibold mb-2">Calculation Details</h4>
              <ul class="text-gray-600 text-sm space-y-2">
                <li>
                  <strong>Average No-Show Growth Rate:</strong>
                  {{ averageRegistrationGrowthRate | percent: '1.2-2' }}
                </li>
                <li>
                  <strong>Average Attendee Growth Rate:</strong>
                  {{ averageAttendeeGrowthRate | percent: '1.2-2' }}
                </li>
                <li>
                  <strong>Last Event Absentees:</strong> {{ lastRegistrations }}
                </li>
                <li>
                  <strong>Last Event Attendees:</strong> {{ lastAttendees }}
                </li>
              </ul>
              <p class="text-gray-500 text-sm mt-4">
                <em
                  >*Predictions are based on historical data using calculated
                  growth rates.</em
                >
              </p>
            </div>
          </div>

          <!-- No Data Template -->
          <ng-template #noData>
            <p class="text-gray-400 text-lg">Not Available</p>
          </ng-template>

          <div class="bg-white rounded-lg shadow p-6">
            <h3 class="text-lg font-semibold mb-4">Recent Events</h3>
            <div class="max-h-96 space-y-4 overflow-y-auto scrollbar-hide">
              <!-- Event List -->
              <div
                *ngFor="let event of sortedEvents"
                class="flex items-start space-x-4 p-4 bg-gray-50 rounded-lg hover:shadow-md transition-shadow duration-200"
              >
                <!-- Event Thumbnail -->
                <img
                  [src]="event.thumbnailUrl || 'assets/default-thumbnail.png'"
                  alt="Event Thumbnail"
                  class="w-20 h-20 object-cover rounded-lg"
                />
                <!-- Event Details -->
                <div class="flex-1">
                  <h4 class="text-gray-800 font-semibold text-lg">
                    {{ event.title }}
                  </h4>
                  <p class="text-gray-500 text-sm">
                    {{ event.date | date: 'mediumDate' }}
                  </p>
                  <p class="text-gray-500 text-sm">
                    {{ event.location || 'Location not provided' }}
                  </p>
                </div>
                <!-- View Details Button -->
                <ion-button
                  color="danger"
                  fill="outline"
                  size="small"
                  (click)="viewEventDetails(event.id)"
                >
                  View Details
                </ion-button>
              </div>

              <!-- No Events Placeholder -->
              <div
                *ngIf="sortedEvents.length === 0"
                class="text-gray-500 text-center mt-4"
              >
                No events available.
              </div>
            </div>
          </div>

          <!-- Event Analytics Rankings with Sticky Title -->

          <!-- Department Distribution Chart -->
          <div class="bg-white rounded-lg shadow p-6">
            <h3 class="text-lg font-semibold mb-4">Users per Department</h3>
            <canvas id="departmentChart"></canvas>
          </div>
        </div>

        <!-- User Feedback Section -->
        <div class="bg-white rounded-lg shadow p-6 mt-6">
          <h3 class="text-lg font-semibold mb-4">User Feedback</h3>
          <div *ngIf="paginatedFeedbackList.length > 0; else noFeedback">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
              <div
                *ngFor="let feedback of paginatedFeedbackList"
                class="bg-gray-50 rounded-lg p-4 shadow"
              >
                <div class="flex items-center justify-between mb-2">
                  <h4 class="text-gray-800 font-bold">
                    {{ feedback.name || 'Anonymous' }}
                  </h4>
                  <p class="text-gray-500 text-sm">
                    {{ convertToDate(feedback.createdAt) | date: 'medium' }}
                  </p>
                </div>
                <div class="flex items-center mb-2">
                  <span class="mr-2 font-bold">Rating:</span>
                  <ion-icon
                    *ngFor="let star of [1, 2, 3, 4, 5]"
                    [name]="star <= feedback.rating ? 'star' : 'star-outline'"
                    class="star-icon text-yellow-400 text-xl"
                  ></ion-icon>
                </div>
                <p class="text-gray-800">{{ feedback.comment }}</p>
              </div>
            </div>

            <!-- Pagination Controls -->
            <div class="flex justify-center mt-4 space-x-2">
              <ion-button
                *ngFor="let page of feedbackTotalPages"
                (click)="goToFeedbackPage(page)"
                [fill]="feedbackCurrentPage === page ? 'solid' : 'outline'"
              >
                {{ page }}
              </ion-button>
            </div>
          </div>
          <ng-template #noFeedback>
            <p class="text-gray-500">No feedback available.</p>
          </ng-template>
        </div>
      </div>
      <!--Postings-->
      <div *ngIf="currentTab === 'Postings'" class="space-y-6">
        <app-post-management></app-post-management>
      </div>
      <!--Calendar-->
      <div *ngIf="currentTab === 'Calendar'" class="space-y-6">
        <h2 class="text-2xl font-bold mb-4">Calendar</h2>
        <div class="calendar-container">
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>

      <!-- Event Details Modal -->
      <div
        *ngIf="showEventDetailsModall"
        class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center p-4"
        style="z-index: 9999"
        (click)="closeEventDetailsModall()"
      >
        <div
          class="modal-content bg-white w-full max-w-md h-auto p-4 rounded-lg shadow-lg relative overflow-y-auto"
          style="max-height: 50vh"
          (click)="$event.stopPropagation()"
        >
          <div class="flex justify-between items-center mb-4">
            <h2 class="text-lg font-bold">{{ selectedEvent?.title }}</h2>
            <ion-button fill="clear" (click)="closeEventDetailsModall()"
              >Close</ion-button
            >
          </div>
          <p>
            <strong>Date and Time:</strong> {{
            convertToDate(selectedEvent?.date) | date: 'medium' }}
          </p>
          <p><strong>Location:</strong> {{ selectedEvent?.location }}</p>
          <p><strong>Description:</strong> {{ selectedEvent?.description }}</p>
          <p><strong>Duration:</strong> {{ selectedEvent?.duration }} hours</p>
          <p>
            <strong>Invited:</strong> {{ selectedEvent?.invited?.join(', ') }}
          </p>
        </div>
      </div>

      <!-- Events Management -->
      <div *ngIf="currentTab === 'Events'" class="space-y-8">
        <div class="flex items-center justify-between mb-6">
          <h2 class="text-3xl font-extrabold text-gray-900">Events Management</h2>
          <ion-button color="danger" (click)="openEventForm()" class="shadow-lg rounded-lg px-6 py-2 text-lg font-semibold">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Create Event
          </ion-button>
        </div>

        <div class="flex items-center gap-4 bg-gray-50 p-4 rounded-lg shadow-sm">
          <label class="text-gray-700 font-semibold text-base" for="invitedTypeSelect">
            <ion-icon name="filter-outline" class="mr-2"></ion-icon>
            Filter by Invited:
          </label>
          <select
            id="invitedTypeSelect"
            [(ngModel)]="selectedInvitedType"
            (change)="filterEvents()"
            class="border border-gray-300 rounded-lg px-4 py-2 bg-white text-gray-800 shadow-sm focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-150 ease-in-out hover:border-red-400"
            style="min-width: 130px; appearance: none; background-image: url('data:image/svg+xml;utf8,<svg fill=\'%236B7280\' height=\'20\' viewBox=\'0 0 20 20\' width=\'20\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M7.293 7.293a1 1 0 011.414 0L10 8.586l1.293-1.293a1 1 0 111.414 1.414l-2 2a1 1 0 01-1.414 0l-2-2a1 1 0 010-1.414z\'/></svg>'); background-repeat: no-repeat; background-position: right 0.75rem center; background-size: 1.25em 1.25em;"
          >
            <option value="">All</option>
            <option value="student">Student</option>
            <option value="faculty">Faculty</option>
          </select>
        </div>

        <div
          *ngIf="!showEventForm"
          class="event-list mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
        >
          <div
            *ngFor="let event of filteredEvents"
            class="bg-white rounded-2xl shadow-xl p-6 hover:shadow-2xl transition-shadow duration-200 border border-gray-100 relative group"
          >
            <img
              [src]="event.thumbnailUrl"
              alt="Event Thumbnail"
              class="w-full h-44 object-cover rounded-xl mb-4 border border-gray-200"
            />
            <h3 class="text-xl font-bold mb-2 text-gray-900 truncate">{{ event.title }}</h3>
            <div class="space-y-1 mb-3">
              <p class="text-gray-600 text-sm"><ion-icon name="calendar-outline" class="mr-1"></ion-icon>
                <strong>Date:</strong> {{ convertToDate(event.date) | date: 'mediumDate' }}
              </p>
              <p class="text-gray-600 text-sm"><ion-icon name="time-outline" class="mr-1"></ion-icon>
                <strong>Time:</strong> {{ event.time }}
              </p>
              <p class="text-gray-600 text-sm"><ion-icon name="location-outline" class="mr-1"></ion-icon>
                <strong>Location:</strong> {{ event.location }}
              </p>
              <p class="text-gray-600 text-sm"><ion-icon name="people-outline" class="mr-1"></ion-icon>
                <strong>Invited:</strong> {{ event.invited.join(', ') }}
              </p>
              <p class="text-gray-600 text-sm"><ion-icon name="document-text-outline" class="mr-1"></ion-icon>
                <strong>Description:</strong> <span class="line-clamp-2">{{ event.description }}</span>
              </p>
            </div>
            <!-- Details, Edit, and Delete Buttons -->
            <div class="flex space-x-2 mt-4 justify-end">
              <ion-button (click)="eventDetails(event.id)" color="medium" fill="outline" class="rounded-full" title="Details">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="editEvent(event)" color="warning" fill="outline" class="rounded-full" title="Edit">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="deleteEvent(event.id)" color="danger" fill="outline" class="rounded-full" title="Delete">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
            <div class="absolute top-4 right-4 flex flex-col items-end space-y-1">
              <span 
                *ngFor="let group of event.invited"
                class="bg-red-100 text-red-700 text-xs px-2 py-1 rounded-full font-semibold uppercase tracking-wide">
                {{ group }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Event Form Modal -->
      <div
        *ngIf="showEventForm"
        class="fixed inset-0 z-50 bg-black bg-opacity-70 flex items-center justify-center px-2 sm:px-4"
        style="backdrop-filter: blur(2px);"
        (click)="closeEventForm()"
      >
        <div
          class="relative w-full max-w-lg sm:max-w-xl md:max-w-2xl bg-white rounded-2xl shadow-2xl flex flex-col"
          style="max-height: 80vh;"
          (click)="$event.stopPropagation()"
        >
          <!-- Close Button -->
          <ion-button
            fill="clear"
            (click)="closeEventForm()"
            class="absolute top-2 right-2 text-2xl z-10"
            title="Close"
          >
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>

          <div class="p-4 sm:p-8 flex-1 flex flex-col overflow-y-auto modal-scrollbar" style="max-height: 75vh;">
            <h2 class="text-xl sm:text-2xl font-bold text-gray-800 mb-4 text-center pt-2">
              {{ isEditMode ? 'Edit Event' : 'Create Event' }}
            </h2>

            <form (ngSubmit)="submitEventForm()" class="space-y-4 flex-1 flex flex-col">
              <!-- Event Title -->
              <div>
                <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Event Title</label>
                <ion-input
                  [(ngModel)]="eventForm.title"
                  name="title"
                  required
                  class="w-full p-2 sm:p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-red-500"
                  placeholder="Enter event title"
                ></ion-input>
              </div>

              <!-- Date, Time, Duration -->
              <div class="grid grid-cols-1 sm:grid-cols-3 gap-3">
                <div>
                  <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Date</label>
                  <input
                    type="date"
                    [(ngModel)]="eventForm.date"
                    name="date"
                    required
                    class="w-full p-2 sm:p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-red-500"
                  />
                </div>
                <div>
                  <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Time</label>
                  <input
                    type="time"
                    [(ngModel)]="eventForm.time"
                    name="time"
                    required
                    class="w-full p-2 sm:p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-red-500"
                  />
                </div>
                <div>
                  <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Duration (hrs)</label>
                  <ion-input
                    type="number"
                    [(ngModel)]="eventForm.duration"
                    name="duration"
                    required
                    min="1"
                    class="w-full p-2 sm:p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-red-500"
                    placeholder="e.g. 2"
                  ></ion-input>
                </div>
              </div>

              <!-- Location Input Field -->
              <div>
                <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Location</label>
                <ion-input
                  [(ngModel)]="eventForm.location"
                  name="location"
                  required
                  (ionBlur)="setLocationFromAddress()"
                  class="w-full p-2 sm:p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-red-500"
                  placeholder="Enter address or venue"
                ></ion-input>
              </div>

              <!-- Map Container -->
              <div>
                <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Event Location</label>
                <div id="map" class="w-full h-40 sm:h-56 rounded-lg border border-gray-300"></div>
                <p class="text-xs mt-1 text-gray-500">
                  Latitude: {{ eventForm.latitude }}, Longitude: {{ eventForm.longitude }}
                </p>
              </div>

              <!-- Latitude and Longitude Fields -->
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
                <div>
                  <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Latitude</label>
                  <ion-input
                    type="number"
                    [(ngModel)]="eventForm.latitude"
                    name="latitude"
                    required
                    (ionBlur)="updateMarkerPosition()"
                    class="w-full p-2 sm:p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-red-500"
                    placeholder="Latitude"
                  ></ion-input>
                </div>
                <div>
                  <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Longitude</label>
                  <ion-input
                    type="number"
                    [(ngModel)]="eventForm.longitude"
                    name="longitude"
                    required
                    (ionBlur)="updateMarkerPosition()"
                    class="w-full p-2 sm:p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-red-500"
                    placeholder="Longitude"
                  ></ion-input>
                </div>
              </div>

              <!-- Invited Select -->
              <div>
                <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Who are Invited</label>
                <ion-select
                  [(ngModel)]="eventForm.invited"
                  name="invited"
                  multiple="true"
                  required
                  class="w-full border border-gray-300 rounded-lg focus:outline-none focus:border-red-500 p-2 sm:p-3"
                  placeholder="Select invited groups"
                >
                  <ion-select-option value="Student">Student</ion-select-option>
                  <ion-select-option value="Faculty">Faculty</ion-select-option>
                </ion-select>
              </div>

              <!-- Description -->
              <div>
                <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Description</label>
                <ion-textarea
                  [(ngModel)]="eventForm.description"
                  name="description"
                  rows="3"
                  class="w-full p-2 sm:p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-red-500"
                  placeholder="Describe the event"
                ></ion-textarea>
              </div>

              <!-- File Upload -->
              <div>
                <label class="block text-gray-700 mb-1 font-semibold text-sm sm:text-base">Upload Thumbnail</label>
                <div class="border-2 border-dashed border-gray-300 rounded-lg p-3 flex items-center justify-center hover:border-red-400 transition">
                  <input
                    type="file"
                    (change)="uploadThumbnail($event)"
                    class="w-full"
                    accept="image/*"
                  />
                </div>
              </div>

              <!-- Buttons -->
              <div class="flex flex-col sm:flex-row gap-2 sm:gap-4 mt-4 sm:justify-end">
                <ion-button
                  expand="block"
                  color="medium"
                  (click)="closeEventForm()"
                  class="rounded-lg font-semibold w-full sm:w-auto"
                >
                  Cancel
                </ion-button>
                <ion-button
                  expand="block"
                  type="submit"
                  color="danger"
                  class="rounded-lg font-semibold w-full sm:w-auto"
                >
                  {{ isEditMode ? 'Update Event' : 'Create Event' }}
                </ion-button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Event Details Modal -->
      <div
        *ngIf="showEventDetailsModal"
        class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center p-4"
        style="z-index: 9999; backdrop-filter: blur(2px);"
        (click)="closeEventDetailsModal()"
      >
        <div
          class="bg-white w-full max-w-lg h-auto p-4 rounded-lg shadow-lg relative"
          style="max-height: 80vh"
          (click)="$event.stopPropagation()"
        >
          <div class="overflow-y-auto modal-scrollbar" style="max-height: 75vh">
          <div class="flex justify-between items-center mb-4 sticky top-0 bg-white z-10 py-2">
            <h2 class="text-lg font-bold">Event Attendees</h2>
            <ion-button fill="clear" (click)="closeEventDetailsModal()"
              >Close</ion-button
            >
          </div>
          <div class="flex space-x-4 mb-4">
            <ion-select
              placeholder="Filter by Department"
              [(ngModel)]="selectedDepartment"
            >
              <ion-select-option *ngFor="let dept of uniqueDepartments"
                >{{ dept }}</ion-select-option
              >
            </ion-select>

            <ion-select
              placeholder="Filter by Section"
              [(ngModel)]="selectedSection"
            >
              <ion-select-option *ngFor="let section of uniqueSections"
                >{{ section }}</ion-select-option
              >
            </ion-select>

            <!-- <ion-select
              placeholder="Filter by Status"
              [(ngModel)]="selectedStatus"
            >
              <ion-select-option value="present">Present</ion-select-option>
              <ion-select-option value="registered"
                >Registered</ion-select-option
              >
            </ion-select> -->
          </div>
          <div class="flex justify-between items-center mb-4">
            <!-- Filter by Status Dropdown -->
            <ion-select
              placeholder="Filter by Status"
              [(ngModel)]="selectedStatus"
              class="mr-4"
            >
              <ion-select-option value="present">Present</ion-select-option>
              <ion-select-option value="registered"
                >Registered</ion-select-option
              >
            </ion-select>

            <!-- Download PDF Button -->
            <ion-button color="danger" (click)="downloadPDF()">
              Download PDF
            </ion-button>
          </div>

          <!-- Attendee List Table -->
          <table class="w-full border border-gray-300 rounded-lg mb-4">
            <thead class="bg-gray-200">
              <tr>
                <th class="p-2 text-left">Name</th>
                <th class="p-2 text-left">Department</th>
                <th class="p-2 text-left">Section</th>
                <th class="p-2 text-left">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attendee of attendeeList">
                <td class="p-2 border-b border-gray-200">
                  {{ attendee.name }}
                </td>
                <td class="p-2 border-b border-gray-200">
                  {{ attendee.department }}
                </td>
                <td class="p-2 border-b border-gray-200">
                  {{ attendee.section }}
                </td>
                <td class="p-2 border-b border-gray-200">
                  {{ attendee.status }}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Department Distribution Chart -->
          <div class="mb-4">
            <h3 class="text-md font-semibold mb-2">Attendees by Department</h3>
            <canvas id="attendeesDepartmentChart"></canvas>
          </div>
          </div>
        </div>
      </div>


      <!-- REPORTS -->
      <div *ngIf="currentTab === 'Reports'" class="space-y-6">
        <h3 class="text-2xl font-semibold mb-4">User Reports</h3>
        <div *ngIf="paginatedReportList.length > 0; else noReports">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div
              *ngFor="let report of paginatedReportList"
              class="bg-gray-50 rounded-lg p-4 shadow"
            >
              <div class="flex items-center justify-between mb-2">
                <h4 class="text-gray-800 font-bold">{{ report.title }}</h4>
                <p class="text-gray-500 text-sm">
                  {{ convertToDate(report.createdAt) | date: 'medium' }}
                </p>
              </div>
              <p class="text-gray-600 mb-2">
                <strong>From:</strong> {{ report.userName || 'Anonymous' }}
              </p>
              <p class="text-gray-600 mb-2">
                <strong>Description:</strong> {{ report.description }}
              </p>
              <img
                *ngIf="report.imageUrl"
                [src]="report.imageUrl"
                alt="Report Image"
                class="w-full h-32 object-cover rounded-lg mb-2"
              />

              <div class="flex justify-end">
                <ion-button
                  *ngIf="!report.solved"
                  color="success"
                  (click)="markAsSolved(report.id)"
                  >Mark as Solved</ion-button
                >
                <ion-badge color="danger" *ngIf="report.solved"
                  >Solved</ion-badge
                >
              </div>
            </div>
          </div>

          <!-- Pagination Controls -->
          <div class="flex justify-center mt-4 space-x-2">
            <ion-button
              *ngFor="let page of reportTotalPages"
              (click)="goToReportPage(page)"
              [fill]="reportCurrentPage === page ? 'solid' : 'outline'"
              >{{ page }}</ion-button
            >
          </div>
        </div>
        <ng-template #noReports>
          <p class="text-gray-500">No reports available.</p>
        </ng-template>
      </div>
      <div
        *ngIf="showReportDetailsModal"
        class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center"
        style="z-index: 9999; backdrop-filter: blur(2px);"
        (click)="closeReportDetailsModal()"
      >
        <div
          class="relative bg-white rounded-lg shadow-lg p-6 max-w-lg w-full"
          style="max-height: 80vh"
          (click)="$event.stopPropagation()"
        >
          <div class="overflow-y-auto modal-scrollbar" style="max-height: 75vh">
          <button
            class="absolute top-2 right-2 text-gray-600 hover:text-gray-800"
            (click)="closeReportDetailsModal()"
          >
            ×
          </button>
          <h4 class="text-lg font-semibold mb-2">
            {{ selectedReport?.title }}
          </h4>
          <p class="mb-2">
            <strong>From:</strong> {{ selectedReport?.userName || 'Anonymous' }}
          </p>
          <p class="mb-4">
            <strong>Description:</strong> {{ selectedReport?.description }}
          </p>
          <img
            *ngIf="selectedReport?.imageUrl"
            [src]="selectedReport.imageUrl"
            alt="Report Image"
            class="w-full h-48 object-cover rounded-lg"
          />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Dashboard Event Details Modal -->
  <div
    *ngIf="showDashboardEventDetailsModal"
    class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center p-4"
    style="z-index: 9999; backdrop-filter: blur(2px);"
    (click)="closeDashboardEventDetailsModal()"
  >
    <div
      class="bg-white w-full max-w-lg h-auto p-4 rounded-lg shadow-lg relative"
      style="max-height: 80vh"
      (click)="$event.stopPropagation()"
    >
      <div class="overflow-y-auto modal-scrollbar" style="max-height: 75vh">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-bold">{{ selectedDashboardEvent?.title }}</h2>
        <ion-button fill="clear" (click)="closeDashboardEventDetailsModal()"
          >Close</ion-button
        >
      </div>
      <p>
        <strong>Date:</strong> {{ selectedDashboardEvent?.date | date: 'medium'
        }}
      </p>
      <p>
        <strong>Time:</strong> {{ selectedDashboardEvent?.time || 'No time
        specified' }}
      </p>
      <p>
        <strong>Location:</strong> {{ selectedDashboardEvent?.location || 'No
        location provided' }}
      </p>
      <p>
        <strong>Description:</strong> {{ selectedDashboardEvent?.description ||
        'No description available' }}
      </p>
      </div>
    </div>
  </div>
</ion-content>

<style>
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Webkit */
  }
  
  @keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
  .animate-slideInRight {
    animation: slideInRight 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  /* Responsive modal animations */
  @media (max-width: 640px) {
    @keyframes slideInBottom {
      from { transform: translateY(100%); opacity: 0; }
      to { transform: translateY(0); opacity: 1; }
    }
    .modal-mobile-animation {
      animation: slideInBottom 0.3s ease-out;
    }
  }
  
  /* Improved form controls for mobile */
  @media (max-width: 640px) {
    ion-select, ion-input, ion-textarea, input[type="date"], input[type="time"] {
      font-size: 16px !important; /* Prevents zoom on iOS */
    }
  }
  
  /* Modal body scroll prevention */
  body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  /* Scrollbar styling for modal content */
  /* Hide scrollbars but maintain scrolling functionality */
  .modal-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .modal-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
    width: 0;
    height: 0;
  }
  
  /* Modal animations */
  .modal-overlay {
    animation: fadeIn 0.2s ease-out;
  }
  
  .modal-content {
    animation: scaleIn 0.3s ease-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes scaleIn {
    from { transform: scale(0.95); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }
</style>
